/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/*
/coverage/*
.rbenv-gemsets
# rspec failure tracking
.rspec_status
/.history/*
Gemfile.lock
.ruby-version
.docker
vendor/